# Core web app
Flask==3.1.1
gunicorn==23.0.0
Werkzeug==3.1.1
requests==2.31.0

# Image processing
--only-binary=:all:
Pillow==10.4.0

matplotlib==3.9.2


# Machine learning
numpy==2.1.0
tensorflow==2.20.0rc0
keras==2.13.1
tensorboard==2.13.0
tensorboard-data-server==0.7.2

opt-einsum==3.3.0
gast==0.4.0
h5py==3.14.0
libclang==18.1.1
termcolor==2.3.0

# Utilities
psutil==5.9.5
wheel
setuptools
