Flask==3.1.1
gunicorn==23.0.0
numpy==1.26.4
pillow==10.2.0
tensorflow==2.13.0
werkzeug==3.1.1
requests==2.31.0
tensorboard==2.13.0
tensorboard-data-server==0.7.2
termcolor==2.3.0
wheel==0.41.2
keras==2.13.1
setuptools==68.0.0
matplotlib==3.9.2
protobuf==4.25.3
psutil==5.9.5
opt_einsum==3.3.0
gast==0.5.4
flatbuffers==23.5.26
astunparse==1.6.3
