Flask==3.1.1
gunicorn==23.0.0
numpy==1.26.4
pillow==11.0.0
tensorflow==2.17.1
werkzeug==3.1.1
requests==2.31.0
tensorboard==2.17.1
tensorboard-data-server==0.7.2
termcolor==3.1.0
wheel
keras==3.10.0
setuptools
protobuf==4.25.3
psutil==6.1.0
opt_einsum==3.4.0
optree==0.16.0
namex==0.1.0
ml-dtypes==0.4.1
matplotlib==3.9.2
lxml==5.2.1
libclang==18.1.1
jsonpointer==2.1
grpcio==1.71.0
gast==0.6.0
flatbuffers==25.2.10
astunparse==1.6.3
atomicwrites==1.4.0
appdirs==1.4.4
